@media screen and (max-width:1024px){
  .inner {width: 100%; padding: 0 1%; margin: 0 auto;}
  .centerInner {width: 100%; padding: 0 5%; margin: 0 auto;}
}

/* 헤더 */
header {position: fixed; top:0; left:0; z-index: 9; display: block; width: 100%; height: 70px; color: #ffffff; background:black;}
header::before{display: none; transition: all .3s; content: ""; position: absolute;}
header.active .headerInner::before {content: ""; position: absolute; display: block; width: 100%; height: 500px; color:#000; background:#fff; box-shadow: 1px 1px 1px 1px #ccc; box-shadow: #202020;}
header .logoBlock {display: none;}
header.active .logoBlock {display: block;}
header .headerInner .logoImg {position: absolute; top :50%; left:40px; transform: translateY(-50%); z-index: 11; display:block; background: url(../images/rollingGraphicLogo.svg);}
header .headerInner .logoImg .logoH1 {display: inline-block; width: 400px; height: 17px;}
header.active .headerInner .logoImg .logoH1 {display: inline-block; width: 300px; height: 17px;}
header.active .headerInner .logoImg {display: inline-block; width: 100px; height: 30px;}
header .headerInner .centerMenu .menuArea {height: 70px; text-align: center;}
header .headerInner  .centerMenu .menuArea .gnbListWrap {display: block;}
header .headerWrap.inner {width: 610px;}
header .headerWrap.inner .menu1 {width: 100%; height: 70px;}
header .menu1 > .centerMenuInner {display: flex; justify-content:center; width: 100%; color:#000; text-align: center;}
header .menu1 > .centerMenuInner > .centerMenuName {position: relative; width: 100%; height: 70px;}
header::before .menu1 > .centerMenuInner > .centerMenuName> .centerItemClick {position: relative; display:block; width: 180px; height: 70px; line-height: 70px; font-size: 20px; color: #000; text-align: center; background: transparent;}
header .menu1 > .centerMenuInner > .centerMenuName > .submenu {position: absolute; top:-100%; display: none; width: 100%; height: 430px; color: #555; text-align: left; background: #fff; transition: ease .5s; opacity: 1;}

header .menu1 > .centerMenuInner > .centerMenuName > .submenu .subMenuList {display: block; height: 20px;}
header .menu1 > .centerMenuInner > .centerMenuName > .submenu .subMenuList.plus .icon.plus {padding-left: 5px;}
header .menu1 > .centerMenuInner > .centerMenuName > .submenu .subMenuList.LongTxt {width: 350px;}
header .headerInner .centerMenu .menuArea .gnbListWrap .gnbItem {display: inline-block; width: 180px; height: 70px; line-height: 51.73px; font-size: 20px; text-align: center; background: #2099d4;}
header .headerInner .centerMenu .menuArea .gnbListWrap .gnbList {width: 100%; height: 70px;}
header .menuWrap {display: none; overflow: hidden; height: 0;}
header.active .menuWrap {display: block; width: 100%; height: 400px; background: #fff;}
/* 헤더 내 히든 메뉴 */
header .icon.plus {display:inline-block;}
header .icon.plus.on {display: none;}
header .headerInner .hiddenSubMenu {overflow: hidden; height: 0;}
header .headerInner .hiddenSubMenu.on .hiddenItem {display:block; width: 100%;}
header .icon.minus {display:none;}
header .icon.minus.on {display: inline-block;}
header .hiddenSubInner {display: block; width: 100%;}
header .hiddenSubInner>li {display: block;}

/* 메뉴 좌측 제품 찾기 및 하츠몰 검색 영역*/
header .utils {position: absolute; top:0; right: 75px; z-index: 2; overflow: hidden; height: 70px; text-align: center; border-left: 1px solid rgba(255,255,255,0.2);}
header .utils .productSearch {float: left; display : block; height: 98%; border-right: 1px solid rgba(255,255,255,0.2);}
header .utils .productSearchTxt {position: relative; float: left; width: 70px; padding: 40px 0 15px 0; background: #000;}
header .utils .shoppingMall {float: left; padding-top: 10px; width: 70px; height: 98%; text-align: center;}
header.active .utils .shoppingMall {display: none;}
header .utils .shoppingMallBlock {display: none; float:left; padding-top: 10px; color: #000; width: 70px; height: 98%; text-align: center; border-right:1px solid rgba(255,255,255,0.2);}
header.active .utils .shoppingMallBlock {display:block;} 
header.active .utils .shoppingMallBlock .shoppingMallTxtBlock {padding-top: 10px; display:block;  color: #000;} 
header .utils .shoppingMallTxt {display: block; padding-top: 10px; height: 30px;}
header .utils .searchBtn {float: left; width: 70px; height: 70px; border-left: 1px solid rgba(255,255,255,0.2);}
header .utils .searchBtn .searchBtnBox {position: relative; width: 50px; height: 50px;}
header .utils .searchBtn .searchSpace {position:absolute; bottom: 0; display:block; width: 280px; height: 46px; color: #777; border: 0; background: none;}
header .searchSpace {display: none;}
header .hamBurgerBtn {position: absolute; top:0; right: 10px; width: 71.25px; height: 70px; background: url(../images/hamburger.png) no-repeat 23px; background-position: center; border-left: 1px solid rgba(255,255,255,0.2);}

/* 가상요소 */
header .utils .productSearch .productSearchTxt::before {content: ""; position: absolute; top:15px; left: 50%; transform: translateX(-50%); display: block; width: 19px; height: 16px; background: url(../images/findPrd.png) no-repeat 0 /contain;}
header .utils .searchBtn .searchBtnBox::before {content: ""; position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%); display: block; width: 30px; height: 30px; color: #000; background: url(../images/search.png) no-repeat 50% 50%;}

/* acitve추가 */
header.active .utils {border-bottom: 1px solid rgb(222, 208, 208);}
header.active .utils .searchBtnBox::before {background: url(../images/search000.png) no-repeat 0;}
header.active .utils .searchBtn {border-left: 1px solid #ccc;}
header.active .hamBurgerBtn {border-left: 1px solid #ccc;}
header.active .hamBurgerBtn span::before {background: url(../images/hambuger000.png) no-repeat 0;}
header .headerInner .utils.active {position: fixed; top: 0; color: #000;}
header .menu1 .centerMenuInner > .centerMenuName .submenu.active {top: 70px; display: block; color: #555; opacity: 1;}
header .centerItemClick {display:block; width: 180px; height: 70px; line-height: 70px; font-size: 20px; color: #fff; text-align: center; background: transparent;}
header.active .headerInner .centerItemClick {display: block; color: #000;}
header.active .menu1 > .centerMenuInner > .centerMenuName .submenuInner {display: block; padding: 10px;}
header.active .hamBurgerBtn {position: absolute; top: 0; right: 0;  width: 71.25px; height: 70px; background:url(../images/hambuger000.png) no-repeat 23px; background-position: center; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc;}
header.active .centerItemClick.active .menuWrap {display: block;} 
button {display: block;}

header::before .headerInner .utils .shoppingMall .cartImg {display: none;}
header::before .headerInner .utils .shoppingMall .cartImgBlack {display: block; color: #000;}
header .headerInner .utils .shoppingMall .cartImgBlack {display: none;}

/* 햄버거 메뉴 클릭시 등장  */
header .fullMenu {position: fixed; top: 0; right: -100%; z-index: 8; display: none; width: 100%; height: 100%; color: #000; text-align: left; background: #fff; transition: all .5s;}
header .close {position: absolute; top:47px; right: 40px; z-index: 12; display: block; width: 26px; height: 26px; background: url(../images/icon-close.png) no-repeat 0 ;} 
header .fullMenu.open {right: 0; display: block; overflow-y: auto; transition: all .7s;}
header .fullMenu.open  .logoImg .logoH1 {display: none;}
header .close span {display: block;}
header .fullMenu.open .fullMenuWrap.inner {width: 100%;}
header .fullMenu.open .fullMenuWrap.inner .ctaName {display: block; overflow: hidden; width: 980px; margin: 0 auto;}
header .fullMenu.open .fullMenuWrap.inner .ctaName>ul {width: 980px; margin: 0 auto;}
header .fullMenu.open .oneItem {position: relative; display: block; height: 121px; line-height: 121px; font-size: 22px; font-weight: 700; color: rgb(0, 0, 0);}

header .fullMenu.open .oneMenu1 {float: left; width: 25%; padding-right: 25px;}
header .fullMenu.open .oneMenu1:last-child {padding-right: 0;}
header .fullMenu.open .secMenuWrap .secMenuWrapHeight {width: 100%;}
header .fullMenu.open .secMenuWrap .secMenuWrapHeight .twoItemWrap {display: block; width: 100%; padding: 2%;}

/* 햄버거 메뉴 클릭시 등장하는 풀메뉴 */
header .fullMenu.open .lineBottom {position: absolute; top: 120px; left: 0; width: 100%; height: 1px; background: #dbdbdb;}
header .fullMenu.open .twoItems {display: block; width: 100%; line-height: 1; font-size: 18px; font-weight: 700; color: rgb(32, 153, 212); padding: 10px 0;}
header .fullMenu.open .twoItemsChild {padding: 20px 0; border-bottom: 1px solid #dbdbdb;}
header .fullMenu.open .twoItemsChild ul {display: block;}
header .fullMenu.open .twoItemsChild ul li {display: block; font-size: 15px;}
header .fullMenu.open .twoItemsChild ul li a {display: block; margin-top: 20px;}
header .asideMenu {display: none;}

/* 호버시 */
header .fullMenu.open .oneItem:hover {border-bottom: 5px solid #2099d4;}
header .fullMenu.open .twoItemsChild ul li a:hover {color: #19315b;}

/* 상품 찾기 탭메뉴 */
header .productSearchArea {position:fixed; top: 0; left: 0; z-index:36; overflow: hidden; width: 100%; height: 0; color: #fff; background: #000; transition: ease .8s;}
header .productSearchArea.on {height: 650px;}
header .productSearchArea .close {position: absolute; top:30px; right: 10%; z-index: 99; display: block; width: 30px; height: 30px;}
header .productSearchArea .close span {display: block; width: 100%; height: 100%;}
header .productSearchArea .productMenuInner {display: block; width: 980px; height: 100%; margin: 0 auto; text-align: center; border-bottom: 1px solid rgba(255,255,255,0.1);}
header .productSearchArea .productMenuInner .click {width: 100%;}
header .productSearchArea .productMenuInner .click>ul {display:inline-block; width: 980px; height: 70px; padding: 25px 0;}
header .productSearchArea .productMenuInner .click>ul>li {display:inline-block; padding-bottom: 25px; width: 185px; font: 18px; text-align: center;}
header .productSearchArea .productMenuInner .tab {display: block; width: 100%; height: 100%; background: #000;}
header .productSearchArea .productMenuInner .tab >div {display: none; width: 185px; height: 70px;}
header .productSearchArea .productMenuInner #tab01 .list {width: 25%;}
header .productSearchArea .productMenuInner .list {float:left; padding: 45px 15px; width: 33.333%; height: 100%; border: 1px solid rgba(255,255,255,.1); border-bottom: none;}
header .productSearchArea .productMenuInner .name {display: block; padding-top: 20px; font-size: 20px;}
header .productSearchArea .productMenuInner .tab .list ul {display: block; padding-top: 80px;}
header .productSearchArea .productMenuInner .tab .list ul li {display: block; padding-bottom: 15px;}
header .productSearchArea .productMenuInner .tab .list ul li a {display:inline-block; padding-left: 15px; font-size: 16px; color: rgba(255,255,255,0.5); text-align: left; transition: all 0.3s ease;}

/* 폰트 어썸으로 구현한 안경 아이콘 */
header .productSearchArea .productMenuInner .tab .list .fa-glasses {display: inline-block; width: 30px; height: 30px; font-size: 30px; color: #fff; text-align: center;}
header .productSearchArea .productMenuInner .tab .list .fa-glasses-round {display: inline-block; width: 30px; height: 30px; font-size: 30px; color: #fff; text-align: center;}


/* 탭메뉴 내 on 클래스 붙을 시  */
header .productSearchArea .productMenuInner .click>ul>li.on {border-bottom: 2px solid #fff;}
header .productSearchArea .productMenuInner .tab >div.on {display: block; margin: 0 auto; width: 100%; height: 100%;}
header .productSearchArea .on {color: rgba(255,255,255,1);}
/* hover */
header .productSearchArea .productMenuInner .tab .list ul li a:hover {color: rgba(255,255,255,1);}
header .menu1 > .centerMenuInner > .centerMenuName> .centerItemClick:hover {color: #000; font-weight: 700; border-bottom: 5px solid #000;}

/* 헤더 1024px */
@media screen and (max-width:1024px) {
  header {position: fixed; width: 100%; height: 50px;}
  header .headerInner {width: 100%; height: 50px;}
  header .headerInner .logoImg .logoH1 {width: 100px;}
  header .menu1 > .centerMenuInner {display: none; width: 250px; height: 100vh; margin-top: 30px; text-align: left;}
  header.active .menu1 > .centerMenuInner {display: block;}
  header .headerInner::before {display: none;}
  header.active .headerInner::before {display: block;}
  header .headerInner .utils {width: 220px; right: 0; border-left: none; border-bottom: none;}

  header .headerInner .utils .searchBtn {position: absolute; right: 0; padding: 17px 15px 16px; width: 45px; height: 47px; border-left: none;}
  header .headerInner .utils .searchBtn::before {position: absolute; top:50%; right: 0;  width: 14px; height: 15px; background: url(../images/moSearch.png) no-repeat 0 / contain;}
  header .headerWrap.inner {display: block; width: 100%; height: 50px;}
  header .logoBlock {position: absolute; display:inline-block; top:50%; left:50%; transform: translate(-50%,-50%); width: 100px; height: 25px; background: #fff; padding: 0 10px;}
  header .headerInner .logoImg {top:50%; left:50%; transform: translate(-50%,-50%); background: none;}
  header .centerItemClick {display: block; height: 30px; line-height: 30px; font-size: 15px; color: #000; text-align: left;}
  header .headerWrap.inner .menu1 {display: none;}
  header .headerInner .utils .productSearch{border-right: none;}
  header .headerInner .utils .productSearch .productSearchTxt::before {display: none;}
  header .hamBurgerBtn {width: 50px; height: 50px; border-left:none; left: 20px;}
  header .hamBurgerBtn span {height: 50px;}
  header .headerInner .utils .productSearchTxt {display: block; position: absolute; top: 13px; right: 40px; padding: 5px 10px; border-radius: 12px; font-size: 13px; color: #000; background: #fff;}
  header .headerInner .utils .productSearch::before {display: none;}

  /* active클래스 붙을 경우 */
  header .headerInner.active .utils .searchBtn {width: 50px; height: 50px; border-left: none;}

  header::before .headerInner .utils .searchBtn {border-left:none;}
  header .headerInner .utils .shoppingMall, header .headerInner.active .utils .searchBtn {display: none;}
  header .headerInner.active {width: 60%; left: 0;}
  header .productSearchArea .productMenuInner {width: 70%;}
  header .productSearchArea .productMenuInner .click>ul {width: 100%;}
  header .productSearchArea .productMenuInner .click>ul>li {padding: 16px 0; width: 32%; font-size: 16px;}

  /* 모바일 버전 헤더 */
  /* 모바일 헤더 햄버거 클릭시 풀메뉴 등장*/
  header .fullMenu {left:-100%; width: 70%; height: 100%; padding-top: 70px;}
  header .fullMenu.open {left: 0; z-index: 11;}

  /*햄버거 메뉴 클릭시 나오는  메뉴 */
  /* 햄버거 메뉴 클릭시 등장하는 풀메뉴 내 닫기 버튼 */
  header .close {top:10px; right: 10px;}
  header .fullMenu.open .lineBottom {top:50px;}
  header .fullMenu.open .fullMenuWrap.inner .ctaName {width: 100%; height: 80vh; text-align: left;}
  header .fullMenu.open .oneMenu1 {display: block; width: 100%; line-height: 45px;}
  header .fullMenu.open .oneMenu1 .oneItem {display: block; width: 100%; line-height: 45px; font-size: 15px; height: 45px; font-weight: 300; }
  header .fullMenu.open .oneMenu1 .oneItem.plus {font-weight: 700;}
  header .fullMenu.open .fullMenuWrap.inner .ctaName .ctaMenuInner {display: block; width: 100%; height: 100%;}
  /* 하위메뉴 감싸는 div  */ 
  header .fullMenu.open .secMenuWrap {display: block; width: 100%; height: 0; overflow: hidden; background: #dedede; color: #000;}
  header .fullMenu.open .secMenuWrap .secMenuWrapHeight, header .fullMenu.open .twoItemsChild ul {display: block; width: 100%; height: 50vh;}
  header .fullMenu.open .secMenuWrap .secMenuWrapHeight .twoItemWrap {display: block; width: 100%; padding: 2%;}
  header .fullMenu.open .twoItems {width: 100%; border-bottom: none; font-size: 15px; color: #19315b; text-align: left;}
  
  header .fullMenu.open .twoItemsChild ul li a {margin-top: 0;}
  header .fullMenu.open .twoItemsChild {padding:0; border-bottom: none;}

  header .fullMenu.open .oneItem:hover {border-bottom: none;}
  header .fullMenu.open .twoItemsChild ul li a:hover {color:none; font-weight: 700;}

  /* 상품 찾기 클릭시 등장하는 탭메뉴 */
  header .productSearchArea .productMenuInner .tab .list ul {}
  header .productSearchArea .productMenuInner .name {font-size: 15px;}
  header .productSearchArea .productMenuInner .tab .list ul li a {text-align: left; font-size: 13px;}
}

/*헤더 내 메뉴 호버시 body 딤드 */
.dimmedBg {position: fixed; top: 0; left: 0; z-index: 7; display: none; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.6); transition: all .6s; opacity: 0;}
.dimmedBg.active {display: block; z-index: 7; width: 100%; height: 100%; opacity: 1;}

/* 메인 영역 : .section01 */
.mainWrap {position: relative; display: block; width: 100%;}
.section01 {display: block; width: 100%; height: 100vh; overflow: hidden;}
.section01 .swiper-container {height: 100%;}
.section01 .swiper-pagination {position: absolute; left:50%; bottom: 15%; transform: translateX(-50%); display:inline-block; width: 200px; height: 50px;}
.section01 .swiper-pagination-bullet {background: #fff;}
.section01 .swiper-container .swiper-wrapper .swiper-slide {display: block; width: 100%; height: 100%;}
.section01 .swiper-container .swiper-wrapper .swiper-slide.first {background: url(../images/mainVis1.png) no-repeat 0 / cover;}
.section01 .swiper-container .swiper-wrapper .swiper-slide.second {background: url(../images/campaign_image0.webp) no-repeat 0 / cover;}
.section01 .swiper-container .swiper-wrapper .swiper-slide .mainBg {display: block; width: 100%; height: 100%;}
.section01 .swiper-container .swiper-wrapper .swiper-slide .mainTxt {position: absolute; top:80%; left: 50%; transform: translate(-50%, -50%); color: rgb(255, 255, 255); text-align: center; opacity: 0; transition: .5s;}
.section01 .swiper-container .swiper-wrapper .swiper-slide .mainTxt.on {top:50%; opacity: 1;}
.section01 .swiper-container .swiper-wrapper .swiper-slide .mainTxt .mainTit {line-height: 1.3; font-size: 55px; color: #fff;}
.section01 .swiper-container .swiper-wrapper .swiper-slide .mainTxt p {margin-top: 30px; line-height: 1.5; font-size: 18px;}
.section01 .swiper-container .swiper-wrapper .swiper-slide .mainTxt .mainHoverBtn {display: block; width: 200px; margin: 50px auto 0; line-height: 60px; font-size: 18px; color: #fff; background: #000;}
.section01 .swiper-container .swiper-wrapper .swiper-slide .mainTxt .mainHoverBtn> a {display: block;}
.section01 .swiper-button-next, .section01 .swiper-button-prev {background-image: none;}
.section01 .swiper-pagination .imgWrap {display: inline-block; width: 80px; height: 20px;}
main .clickBtn {position: absolute; left:50%; bottom: 50px; transform: translateX(-50%); z-index: 9; display: inline-block; width: 40px; height: 70px; background: url(../images/mouseBtn.png) no-repeat 0 ;}
main .clickBtn span >img {display: block; width: 100%; height: 100%;}

main .arrow {position: absolute; bottom: 50px; left: 48%; z-index: 3; transform: translateX(-50%); display: none;}
main .arrow .arrowWrap {position: relative; z-index: 3; display: inline-block;}
main .arrow .arrowWrap::after {content: ""; position:absolute; z-index: 3; display: inline-block; width: 20px; height: 20px; border-top: 2px solid #fff; border-right: 2px solid #fff; transform: rotate(135deg);}

/*  메인 영역 : .section01 미디어 쿼리 */
@media screen and (max-width:1024px) {
  /* 메인 비주얼 .section01  스와이퍼 화살표 */
  .section01 .swiper-button-next {display: none;}
  .section01 .swiper-button-prev {display: none;}

  /* .section01 페이지네이션 */
  .section01 .swiper-pagination-bullet {width: 12px; height: 12px;}
  .section01 .swiper-container .swiper-wrapper .swiper-slide .mainTxt .mainTit {font-size: 32px;}
  .section01 .swiper-container .swiper-wrapper .swiper-slide .mainTxt p {font-size: 13px;}
  .section01 .swiper-container .swiper-wrapper .swiper-slide .mainTxt .mainHoverBtn {max-width: 100px; line-height: 34px; font-size: 12px;}
  .section01 .swiper-pagination {bottom: 90px; left: 0; width: 100%;}
  .section01 .swiper-pagination-bullet:nth-child(1) {display: none;}

/* 마우스 이미지 -> 꺽새로 변화 */
  main .clickBtn {display: none;}
  main .clickBtn::after {display: none;}
  main .arrow {display: inline-block;}
  main .arrow::after {display: inline-block;}
  header .headerInner .logoImg.active {left:55px;}
}

/*  메인 영역 : Section02 layoutWrap */
.section02 {position: relative; width: 100%;}
.section02 .layoutWrap {display: flex; width: 100%;}

.section02 .textWrap {display:inline-block; line-height: 50px; font-size: 40px;}
.section02 .textWrap.R {text-align: left; color: #000; background:#fff; padding: 5px 20px;}
.section02 .textWrap.B {display:inline-block; text-align: right; background: #000; color: #fff; padding: 5px 20px;}
.section02 .arrow {display: inline-block; margin:50px auto 30px; width: 100px; height: 22px; vertical-align: top;}
.section02 .rightLayout .rightCommon {display: block; width: 100%; height: 446px; background-position: center;} 
.section02 .leftLayout {width: 50%; height: 890px; font-size: 40px; text-align: center; background: url(../images/mainArea1.jpg) no-repeat 50% 50% / cover;}
.section02 .leftLayout>a {display: block; width: 100%; height: 100%;}
.section02 .leftLayout .textWrap {color: #fff; padding-top: 700px;}

.section02 .rightLayout {width: 50%; height: 890px; color: #515256;}
.section02 .rightLayout .rightCommon.rightTop {width: 100%; background: url(../images/section06-4.webp) no-repeat 50% 50% /cover;}
.section02 .rightLayout .rightCommon.rightTop>a {padding: 140px 0 146px 0; display: block; width: 100%; height: 100%;}
.section02 .rightLayout .rightCommon.rightBottom {width: 100%; background: url(../images/mainArea4.jpg) no-repeat 50% 50% /cover;}
.section02 .rightLayout .rightCommon.rightBottom>a {display: block; width: 100%; height: 100%; padding:140px 90px 146px 0;}

/* 화살표 */
.section02 .arrowSection {display: inline-block; width: 100px; height: 30px; text-align: center;}
.section02 .arrowSection.a {background: url(../images/rightFFF.png) no-repeat 0 0;}
.section02 .arrowSection.b {background: url(../images/leftArrowFFF.png) no-repeat 0 0;}
.section02 .arrowSection.c {background: url(../images/leftArrow000.png) no-repeat 0 0;}

/* 메인 영역 : Section02 1024px 미디어 쿼리 */
@media screen and (max-width:1024px) {
  /* layoutWrap 제품 라인업 총 3개 박스 1번 250px 2번, 3번 270px */
  .section02 .textWrap {display:block; line-height: 1.3; font-size: 17px; text-align: center;}
  .section02 .layoutWrap {display: block; width: 100%!important; height: 100%!important;}
  .section02 .layoutWrap .leftLayout {width: 100%!important; height: 270px; background: url(../images/section06-5.jpg) no-repeat 0 0 / cover;}
  .section02 .leftLayout .textWrap {padding-top: 0; display: block; color: #fff;}
  .section02 .layoutWrap .leftLayout, .section02 .layoutWrap .rightLayout {display: block; width: 100%!important; height:270px;}
  .section02 .layoutWrap .rightLayout {display: block; width: 100%; height: 100%; margin-bottom: 150px;}
  .section02 .layoutWrap .rightLayout a {display: block; height: 100%;}
  .section02 .rightLayout .rightCommon {height: 270px;}
  .section02 .rightLayout .rightCommon.rightTop {display: block; padding:0; width: 100%; height: 270px; background: url(../images/section06-4.webp) no-repeat 50% 50%/ cover;}
  .section02 .rightLayout .rightCommon.rightTop>a {padding: 0;}

  .section02 .textWrap.R{display: block; text-align: center; padding-top: 0; background: transparent; color: #fff;}
  .section02 .textWrap.B {padding-top:0; padding-left: 0; text-align: center; color:#fff; background: transparent;}
  .section02 .textWrap.B>p {width: 100%;}
  .section02 .arrowSection {display: inline-block; width: 100px; height: 30px; text-align: center;}
  .section02 .arrowSection.a {background: url(../images/rightFFF.png) no-repeat 35px 15px / contain; background-position: center;}
  .section02 .arrowSection.c {background: url(../images/rightFFF.png) no-repeat 35px 15px / contain; background-position: center;}
  .section02 .arrowSection.b {background: url(../images/rightFFF.png) no-repeat 35px 15px / contain; background-position: center;}
}

/*메인 영역 : support section05, gsap 사용한 영역  */
.section03 {position: relative; padding: 120px 0 100px 0; width: 100%; height: 820px;}
.section03 .centerInner {overflow: hidden;}
.section03 .forHelpTxt {display: block; width: 100%; text-align: center;}
.section03 .supportTxt {display: block; margin-bottom: 30px; font-size: 18px; font-weight: 700; text-align: center;} 
.section03 .supportP {display: block; margin:30px auto 100px; font-size: 40px;}
.section03 .supportTxt1 {display: inline-block;}

/* gsap 효과 고려하여 css주기 boxWrap에 트랜스폼 y축 50% */
.section03 .supportBox {display: block; overflow: hidden; width: 100%;}
.section03 .boxWrap {float: left; margin-right: 10px; padding: 40px 40px 30px 40px; width: 30%; height: 245px; background: #f1f1f1; transform: translateY(50%); opacity: 0;}
.section03 .boardArea>p {margin: 20px 0; font-size: 20px; font-weight: 700;}
.section03 .boxWrap .iconImg {position: absolute; right: 30px; bottom: 40px; display:block; width: 75px; height: 60px; background-position: center;}
.section03 .boxWrap.a .iconImg {background: url(../images/support1.png) no-repeat 0;}
.section03 .boxWrap.b .iconImg {background: url(../images/support2.png) no-repeat 0;}
.section03 .boxWrap.c .iconImg {background: url(../images/support3.png) no-repeat 0;}
.section03 .boxWrap:hover {background:#dfdfdf;}

/*메인 영역 : support section05 미디어 쿼리 */
@media screen and (max-width:1024px) {
  .section03 {position: relative; overflow: hidden; width: 100%; height: 550px; min-height: 430px; line-height: 1.3; text-align: center; background-position: center;}
  .section03 .boxWrap {float: left; width: 30%; height: 145px; padding: 0;}
  .section03 .centerInner a {display: block; color: #fff; padding: 0;}
  .section03 .centerInner .topImg {display: none;}
  .section03 .centerInner .forHelp .topImg {display: none;}
  .section03 .bottomImg {display: none;}
  .section03 .supportTxt {display: none;}
  .section03 .supportP {display: block; margin: 30px auto 40px; font-size: 20px; color: #000;}
  .section03 .boxWrap .boardArea> p {font-size: 13px; color: #000;}
  .section03 .boxWrap .boardArea> span {font-size: 13px; color: #ddd;}
  .section03 .boxWrap .boardArea> span:hover {color: #000;}

  .section03 .boxWrap .boardArea> .iconImg {display: none;}
  .section03 .boxWrap .iconImg{bottom: none; right: none; background-position:center;}
}

/* 메인 영역 : .section04  */
.section04 {position: relative; display: block; padding-top: 120px; width: 100%; background: #f1f1f1;}
.section04 .swiper-container {padding-bottom:170px;}
.section04 .swiper-container .swiper-wrapper .swiper-slide {float: left;}
.section04 .swiper-container .swiper-wrapper .swiper-slide.articles {display: inline-block; width: 310px; height: 470px; margin-right: 25px;}
.section04 .swiper-container .swiper-wrapper .swiper-slide.articles:last-child {margin-right: 0;}
.section04 .helpTxtWrap.news {margin-bottom: 80px;}
.section04 .swiper-slide.articles .articleWrap .articleimg img {display: block; width: 310px; height: 220px;}
.section04 .swiper-slide.articles .articleWrap .articleimg {display: block; width: 310px; height: 220px;}
.section04 .swiper-slide.articles .articleWrap .articleimg.videoWrap {position: relative; overflow: hidden; height: 210px; padding-bottom: 56.25%;}
.section04 .swiper-slide.articles .articleWrap .articleimg.videoWrap video {position: absolute; left:50%; top:50%; transform: translate(-50%,-50%); min-width: 100%; min-height: 100%;}

.section04 .articleTxt {overflow: hidden; word-break: break-all; -webkit-box-orient: vertical; -webkit-line-clamp: 2; padding: 20px 30px; width: 310px; height: 250px; border: 1px solid #dbdbdb; background: #fff;}
/* hover */
.section04 .swiper-slide.articles .articleTxt:hover {background: #f1f1f1;}
/*메인 영역 : .section04 뉴스 영역 */
.section04 .articleTxt .preFace .preFaceInner::before {content: ""; position: absolute; left: -31px; display: block; padding-left: 26px; border-left: 5px solid #a6a9aa; height: 30px; line-height: 30px;}
.section04 .articleTxt .preFace .preFaceInner {position: relative; display: inline-block; font-size: 15px; color:#a6a9aa;}
.section04 .articleTxt .articleTitle {padding: 20px 0 25px 0; font-size: 18px; line-height: 26px; font-weight: 700; color: #000;}
.section04 .articleTxt .articleTxtCont {display: -webkit-box; overflow: hidden; word-break: break-all; -webkit-box-orient: vertical; -webkit-line-clamp: 2; color:#555;}
.section04 .articleTxt .date {overflow: hidden; padding-top: 40px; width: 100%;}
.section04 .articleTxt .date .day {float: left; font-size: 15px; color: #777;}
.section04 .articleTxt .date .views {float: right; font-size: 15px; color: #777;}
.section04 .articleTxt .date .views .viewsInner {position: relative;}
.section04 .articleTxt .date .views .viewsInner::before {content: ""; position: absolute; left:-80%; display: block; width: 20px; height: 13px; background: url(../images/iconEyes.png) no-repeat 0;}

/* .section04 뉴스 영역 페이지네이션 */
.section04 .swiper-pagination {position: absolute; bottom: 120px; margin-top: 50px; display: block; width: 100%; height: 20px;}
.section04 .swiper-pagination-bullet-active {opacity: 1; background: #a6a9aa;}

/* 메인 영역 : .section04 미디어쿼리 */
@media screen and (max-width:1024px) {
  .section04 {padding: 50px 0 50px 0; padding-bottom: 200px;}
  .section04 .supportTxt {display: none;}
  .section04 .supportP {font-size: 20px; margin-bottom: 40px;}
  .section04 .swiper-container .swiper-wrapper .swiper-slide.articles {width: 100%; margin: 0 auto;}
  .section04 .swiper-slide.articles .articleWrap .articleimg {width: 100%;}
  .section04 .swiper-slide.articles .articleWrap .articleimg img {width: 100%;}
  .section04 .articleTxt {width: 100%;}
  .section04 .swiper-pagination {bottom: 0;}
}

/* 메인 섹션 5 비디오  */
.section05 {position: relative; width: 100%;}
.section05 .videoWrap {position: relative; overflow: hidden; padding-bottom: 56.5%;}
.section05 .videoWrap video{position: absolute; min-width: 100%; min-height: 100%; left: 50%; top:50%; transform: translate(-50%,-50%);}
.section05 .moreBtn {position: absolute; top:50%; left:50%; transform: translate(-50%,-50%); width: 200px; height: 40px; border-radius: 30px; border: 1px solid #fff; text-align: center; background: transparent; font-size: 18px; color: #fff; line-height: 35px;}

/* 텍스트 타이틀 효과  */
.section06.inner {width: 100%; overflow: hidden; margin-bottom: 100px;}
.section06.inner .collaborationWrap {width: 100%;}

/* 텍스트 타이틀 효과  */
.section06.inner .collaborationWrap .collaborationTxtArea {visibility:hidden; margin-bottom: 50px; display: inline-block; width: 100%; height: 50px;}
.section06.inner .collaborationWrap .collaborationTxtArea>div {font-weight:800; font-size:60px; color:#000; position: absolute; left:50%; transform:translatex(-50%); width:100%; height: 50px; text-align:center;}

.section06.inner .collaborationWrap .collaborationMain {width: 100%; margin:0 auto; overflow: hidden;}
.section06.inner .collaborationWrap .collaborationMain .swiper-container { width: 100%; height: 100%;}
.section06.inner .collaborationWrap .collaborationMain .swiper-container .swiper-wrapper {width: 100%; height: 100%;}
.section06.inner .collaborationWrap .collaborationMain .swiper-container .swiper-wrapper .swiper-slide {width: 20%;}
.section06.inner .collaborationWrap .collaborationMain .swiper-container .swiper-wrapper .swiper-slide .brandHome {display: block; width: 100%; height: 100%;}
.section06.inner .collaborationWrap .collaborationMain .swiper-container .swiper-wrapper .swiper-slide .brandHome .brandImg {background-position: center;}
.section06.inner .collaborationWrap .collaborationMain .swiper-container .swiper-wrapper .swiper-slide .brandHome .brandImg.fir {display: block; width: 100%; height: 400px; background: url(../images/section06.webp) no-repeat 0 0 / cover;}
.section06.inner .collaborationWrap .collaborationMain .swiper-container .swiper-wrapper .swiper-slide .brandHome .brandImg.sec {display: block; width: 100%; height: 400px; background: url(../images/section06-1.jpg) no-repeat 0 0 / cover;}
.section06.inner .collaborationWrap .collaborationMain .swiper-container .swiper-wrapper .swiper-slide .brandHome .brandImg.thi {display: block; width: 100%; height: 400px; background: url(../images/section06-2.jpg) no-repeat 0 0 / cover;}
.section06.inner .collaborationWrap .collaborationMain .swiper-container .swiper-wrapper .swiper-slide .brandHome .brandImg.four {display: block; width: 100%; height: 400px; background: url(../images/section06-4.webp) no-repeat 0 0 / cover;}
.section06.inner .collaborationWrap .collaborationMain .swiper-container .swiper-wrapper .swiper-slide .brandHome .brandImg.fif {display: block; width: 100%; height: 400px; background: url(../images/YK_Jeong.jpg) no-repeat 0 0 / cover;}

.section06.inner .collaborationWrap .collaborationMain .swiper-container .swiper-wrapper .swiper-slide .brandTxt{display: block; text-align: center; margin: 20px auto; font-size: 16px; font-weight: 700;}
.section06.inner .collaborationWrap .collaborationMain .swiper-container .swiper-wrapper .swiper-slide .brandBtn{display:inline-block; text-align: center; padding:10px 30px; background: #000 ; color: #fff; margin-left: 40%;} 

@media screen and (max-width:1024px) {
  .section06.inner .collaborationWrap .collaborationMain .swiper-container .swiper-wrapper .swiper-slide .brandBtn {font-size: 10px; padding: 5px 10px;}
}

/* 푸터 */
footer {position: relative; width: 100%; margin: 0 auto; background: #333;  padding: 60px 0 140px; border-top: 1px solid #e0e0e0;}
footer .ftInfoList {float: left; margin: 10px 0; margin-right: 12px; padding-right: 12px; font-size: 16px; color:#fff; border-right: 1px solid #fff;}
footer .footerWrap {position: relative;}
footer .footerWrap .fnb {margin:50px 0 40px 0;}
footer .footerWrap .fnb li {display: inline-block;}
footer .footerWrap .fnb li a {position: relative; display: inline-block; font-size: 16px; line-height: 28px; color: #fff;}
footer .footerWrap .fnb li a::after {content: ""; position: absolute; top: 8px; right:0; display:inline-block; width: 1px; height: 14px; background: #fff;}
footer .footerWrap .fnb li:last-child a::after {display: none;}
footer .footerWrap .ftAddressIconWrap {width: 100%; font-size:15px; line-height: 26px; color:#7e7e7e;}
footer .footerWrap .ftInfo {width: 100%; padding-top: 20px;}
footer .footerWrap .ftInfo ul {width: 700px;}
footer .footerWrap .ftInfo ul li {display: inline-block;}
footer .footerWrap .address {float: left;}
footer .footerWrap .iconWrap {float: right;}
footer .str {float: left; padding-top: 40px; font-size: 15px; color: #7e7e7e;}
footer .prizeCont {float: right; padding-top: 40px;}

/* 푸터 영역 패밀리 사이트  */
footer .footerWrap .ftFamily {position: absolute; top:0; right: 0; z-index: 99; display:inline-block; width: 220px; height: 44px; background:#000;}
footer .footerWrap .ftFamily .siteButton {position: relative; display: block; width: 220px; height: 44px;}
footer .footerWrap .ftFamily .siteButton::after {content: ""; position: absolute; top:50%; right: 0; transform: translateY(-50%); display: block; width: 20px; height: 5px; background: url(../images/pcFamily.png) no-repeat #000;}
footer .ftFamily .siteButton .familySite {display: block; padding: 14px 20px; font-size: 15px; color: #fff; border: 0;}

/* 푸터 영역 패밀리 사이트 내 ul 묶음! 클릭시 보여질 공간 */
footer .ftFamily .familyListWrap {position: absolute; bottom: 45px; display: block; overflow: hidden; width: 220px; height: 0; color: #fff; background: #202020; transition: all .3s;}
footer .ftFamily .familyListWrap.open {height: 150px; background: #202020; opacity: 1;}
footer .ftFamily .siteButton .familyListWrap .familyList {display: block; padding-top: 5px; width: 220px; height: 50px; font-size: 16px; color: #fff; text-align: left; border: 0; background: #202020;}
footer .ftFamily .familyListWrap .familyList {display: block; padding: 20px 25px; width: 220px; height: 50px; text-align: left;} 
footer .ftFamily .familyListWrap .familyList>a {display: block; width: 100%;}

/* 푸터 영역 패밀리 사이트  호버시 */
footer .ftFamily .familyListWrap .familyList:hover{text-decoration: underline;} 

/* 푸터 영역 모바일 버전 */
footer .mofnb {display: none; width: 100%; height: 30px; background: #333;}
footer .mofnb .moLang {display: none; width: 100%;}
footer .mofnb .moLang li:first-child {border-right: 1px solid rgba(255,255,255,0.2);}
footer .mofnb .moLang li:not(.moLangFull) {display:inline-block; width: 46%; height: 30px; line-height: 30px; font-size: 11px; color: #fff; text-align: center;}
footer .mofnb .moLangFull {display: block; width: 100%; height: 30px; line-height: 30px; font-size: 11px; color: #fff; text-align: center;}

/* on 클래스 붙을 시 */
footer .mofnb .moLang.on {display: block;}
footer .mofnb.on {display: block;}

/* 푸터 영역 미디어쿼리*/
@media screen and (max-width:1024px) {
  footer {padding-top: 30px;}
  footer .footerWrap .ftAddressIconWrap {width: 100%; display: block;}
  footer .ftInfo {font-size: 13px; color:#7e7e7e;}
  footer .footerWrap .fnb {display: none;}
  footer .footerWrap .ftInfo {width: 100%; display: block; margin: 0 auto;}
  footer .footerWrap .ftInfo ul {font-size: 11px; line-height: 18px; text-align: left; width: 100%; padding: 0 5%;}

  footer .footerWrap .iconWrap {display: flex; justify-self: center; width: 100%; height: 50px;}
  footer .footerWrap .iconWrap a {margin-right: 30px;}
  footer .footerWrap .iconWrap a:last-child {margin-right: 0;}
  footer .ftInfoList {font-size: 10px; text-align: center;}
  footer .str {float: none; text-align: left; width: 100%; display: block; margin-top: 10px; padding-top: 0; font-size: 11px; line-height: 18px; color: #767676;}
  footer .ftCont {display: block; width: 100%; text-align: center; padding: 0 5%;}
  footer .ftInfo ul li {font-size: 11px; line-height: 18px;}
  footer .footerWrap .address {float: none;}
  
  footer .mofnb {display: block;}
  footer .mofnb .moLang {display: block;}
  footer .mofnb .moLangFull { border-top:1px solid rgba(255,255,255,0.2); border-bottom:1px solid rgba(255,255,255,0.2);}
  footer .ftFamily .siteButton {width: 100%;}
  footer .footerWrap .iconWrap {float: none; padding: 0 5%;}
  footer .ftFamily .familyListWrap {display: block; width: 100%;}
  footer .ftFamily .familyListWrap .familyList {width: 100%;}
  footer .ftFamily .familyListWrap .familyList:hover {text-decoration: underline;}
  footer .section03 .supportP {padding-top: 100px;}
  footer .prizeCont {float:none; padding-top: 20px; overflow: hidden;}
  footer .prizeCont>span {float: left; width: 20%;}
  footer .ftFamily .siteButton .familySite {text-align: left;}
  footer .footerWrap .ftFamily {position: absolute; top:100%; left:0; right: none; z-index: 99; display:inline-block; width: 90%; height: 44px; background:#000; margin: 5%;}
  footer .footerWrap .ftFamily .siteButton {width: 100%;}
  
  /* 호버시 */
  footer .ftInfo ul li:hover {color: #2099d4;}
}

@media screen and (max-width:360px) {
  footer .ftFamily .familyListWrap .familyList:hover {text-decoration: none;}
  /* 모바일 시 호버효과 xxxx 느려지게 만든다 */
}
